<app-topnavbar></app-topnavbar>
<div class="p1" fxLayout="row" fxLayoutAlign="center center">
    <div class="contain-content" fxFlex="100%" fxFlex.xs="100%" fxLayoutAlign="center center">
        <div class="part-prime" fxFlex="100%" fxFlex.xs="100%">
            <mat-card fxLayout="row wrap">
                <div class="a" fxLayout="column wrap" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center">
                    <h1>A Step Close To Your <span> New Job</span>.</h1>
                    <p>Build your profile that stands out from others. Boost your career journey faster than before.</p>
                    <div><button mat-raised-button routerLink="/personal-details">Fill Your Profile</button></div>
                </div>
                <div class="b" fxLayout="column wrap" fxFlex="50%" fxFlex.xs="100%" fxShow fxHide.xs
                    fxLayoutAlign="center center">
                    <img src="/assets/img/hacker_mindset.svg" alt="" srcset="" height="375px">
                </div>


            </mat-card>
        </div>
    </div>
</div>
<app-footer></app-footer>

            </mat-card>
        </div>
    </div>
</div>
<app-footer></app-footer>