<app-topnavbar></app-topnavbar>
<div class="p1" fxLayout="row" fxLayoutAlign="center center">
    <div class="contain-content" fxFlex="85%" fxFlex.xs="100%" fxLayoutAlign="center center">
        <div class="part-prime" fxFlex="100%" fxFlex.xs="100%">
            <mat-card>
                <div fxLayout="row wrap">
                    <div class="a" fxLayout="row wrap" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%"
                        fxLayoutAlign="center center">
                        <h2>Personal</h2>
                        <mat-divider></mat-divider>
                        <mat-list fxFlex="70%" fxFlex.xs="100%">
                            <div>
                                <mat-list-item>

                                    <p><strong>Name :</strong>{{username}}</p>

                                    <!-- <input placeholder="username" formControlName="username"> -->
                                    <!-- <p>[(ngModel)]="profiledetails.name">{{profiledetails.name}}</p> -->
                                </mat-list-item>
                            </div>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p><strong>Email :</strong>{{email}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p><strong>Phone Number :</strong>{{contactnumber}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p><strong>Date Of Birth :</strong>{{dob}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p><strong>Gender :</strong>{{gender}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p><strong>Preferred Location :</strong>{{location}}</p>
                            </mat-list-item>
                        </mat-list>

                    </div>
                    <div class="b" fxLayout="row wrap" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%"
                        fxLayoutAlign="center center">
                        <h2>Education</h2>
                        <mat-divider></mat-divider>
                        <mat-list fxFlex="70%" fxFlex.xs="100%">
                            <mat-list-item>
                                <p><strong>Highest Qualification :</strong>{{highest_qualification}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p><strong>Specialization :</strong>{{specialization}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p><strong>Institue Name :</strong>{{institute_name}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p><strong>Year of Passing :</strong>{{passing_year}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p><strong>Overall CGPA :</strong>{{cgpa}}</p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>

                <div fxLayout="row wrap">
                    <div class="c" fxLayout="row wrap" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%"
                        fxLayoutAlign="center center">
                        <h2>Experience</h2>
                        <mat-divider></mat-divider>
                        <mat-list fxFlex="70%" fxFlex.xs="100%">
                            <mat-list-item>
                                <p><strong>Your Designation :</strong>{{designation}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p><strong>Current Comany name :</strong>{{companyname}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p><strong>Current Salary :</strong>{{currentsalary}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p><strong>Total Years Of Experience :</strong>{{experience}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p><strong>Notice Period :</strong>{{noticeperiod}}</p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <div class="d" fxLayout="row wrap" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%"
                        fxLayoutAlign="center center">
                        <h2>Skills</h2>
                        <mat-divider></mat-divider>
                        <mat-list fxFlex="70%" fxFlex.xs="100%">
                            <mat-list-item>
                                <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
                                    <p><strong>Skill 1 :</strong>{{skill1}}</p>
                                    <p><strong>Level :</strong>{{level1}}</p>
                                </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
                                    <p><strong>Skill 2 :</strong>{{skill2}}</p>
                                    <p><strong>Level :</strong>{{level2}}</p>
                                </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
                                    <p><strong>Skill 3 :</strong>{{skill3}}</p>
                                    <p><strong>Level :</strong>{{level3}}</p>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
                <mat-card-actions fxLayoutAlign="center">
                    <div class="button" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end">
                        <button mat-raised-button color="primary" routerLink="/personal-details">Update</button>
                        <button mat-raised-button color="warn" (click)="deleteprofile()">Delete</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>