<app-topnavbar></app-topnavbar>
<div class="p1" fxLayout="row" fxLayoutAlign="center center">
    <div class="contain-content" fxFlex="85%" fxFlex.xs="100%" fxLayoutAlign="center center">
        <div class="part-prime" fxFlex="100%" fxFlex.xs="100%">
            <mat-card>
                <div fxLayout="row wrap">
                    <div class="a" fxLayout="row wrap" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center">
                        <h2>Personal</h2>
                        <mat-divider></mat-divider>
                        <mat-list fxFlex="60%" fxFlex.xs="100%">
                            <div>
                                <mat-list-item>

                                    <p>Name : {{username}}</p>

                                    <!-- <input placeholder="username" formControlName="username"> -->
                                    <!-- <p>[(ngModel)]="profiledetails.name">{{profiledetails.name}}</p> -->
                                </mat-list-item>
                            </div>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Email :{{email}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Phone Number :{{contactnumber}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Date Of Birth :{{dob}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Gender :{{gender}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Preferred Location :{{location}}</p>
                            </mat-list-item>
                        </mat-list>

                    </div>
                    <div class="b" fxLayout="row wrap" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%"
                        fxLayoutAlign="center center">
                        <h2>Education</h2>
                        <mat-divider></mat-divider>
                        <mat-list fxFlex="70%" fxFlex.xs="100%">
                            <mat-list-item>
                                <p>Highest Qualification :{{highest_qualification}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Specialization :{{specialization}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Institue Name :{{institute_name}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Year of Passing :{{passing_year}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Overall CGPA :{{cgpa}}</p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>

                <div fxLayout="row wrap">
                    <div class="c" fxLayout="row wrap" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%"
                        fxLayoutAlign="center center">
                        <h2>Experience</h2>
                        <mat-divider></mat-divider>
                        <mat-list fxFlex="70%" fxFlex.xs="100%">
                            <mat-list-item>
                                <p>Your Designation :{{designation}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Current Comany name :{{companyname}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>ICurrent Salary :{{currentsalary}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Total Years Of Experience :{{experience}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Notice Period :{{noticeperiod}}</p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <div class="d" fxLayout="row wrap" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%"
                        fxLayoutAlign="center center">
                        <h2>Skills</h2>
                        <mat-divider></mat-divider>
                        <mat-list fxFlex="70%" fxFlex.xs="100%">
                            <mat-list-item>
                                <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
                                    <p>Skill 1 :{{skill1}}</p>
                                    <p>Level :{{level1}}</p>
                                </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
                                    <p>Skill 2 :{{skill2}}</p>
                                    <p>Level :{{level2}}</p>
                                </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
                                    <p>Skill 3 :{{skill3}}</p>
                                    <p>Level :{{level3}}</p>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
                <mat-card-actions fxLayoutAlign="center">
                    <div class="button" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end">
                        <button mat-raised-button color="primary" routerLink="/personal-details">Update</button>
                        <button mat-raised-button color="warn" (click)="deleteprofile()">Delete</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>