.p1{min-height:100%;}
.contain-content{min-height: 90vh;}
.part-prime{height:500px;}
mat-card{  margin-top: -50px;border-radius:35px;background-color: rgb(0, 0, 0,0.5);}
p{color: aliceblue;}
h2{margin-right:35px; color: aliceblue;   
    border: 5px solid aliceblue;
    border-radius: 20px;
    padding: 6px;}
mat-divider{background-color:#001122;;}
.a{height:300px;margin-top: 10px;}
.b{height:300px; margin-top: 10px;}
.c{height:300px; margin-top: 10px;}
.d{height:300px;margin-top: 10px;}

@media screen and (max-width: 425px){
    mat-card{
        margin-top: 2.5px;
    }
    h2{margin:55px 0 0 0;}
    .d{height:230px;margin-top: 0px;}
}
@media screen and (max-width: 768px){
    mat-card{
        margin-top: 0px;
    }
}