<app-topnavbar></app-topnavbar>
<div class="p1" fxLayout="row" fxLayoutAlign="center center">
    <div class="contain-content" fxFlex="85%" fxFlex.xs="100%" fxLayoutAlign="center center">
        <div class="part-prime" fxFlex="100%" fxFlex.xs="100%">
            <mat-card>
                <div fxLayout="row wrap">
                    <div class="a" fxLayout="row wrap" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center">

                        <h2>Personal</h2>
                        <mat-divider></mat-divider>
                        <mat-list fxFlex="70%" fxFlex.xs="100%">
                            <mat-list-item>
                                <p>Full Name :</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Email :</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Phone Number :</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Date Of Birth :</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Preferred Location :</p>
                            </mat-list-item>
                        </mat-list>

                    </div>
                    <div class="b" fxLayout="row wrap" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center">
                        <h2>Education</h2>
                        <mat-divider></mat-divider>
                        <mat-list fxFlex="70%" fxFlex.xs="100%">
                            <mat-list-item>
                                <p>Highest Qualification :</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Specialization :</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Institue Name :</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Year of Passing :</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Overall CGPA :</p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>

                <div fxLayout="row wrap">
                    <div class="c" fxLayout="row wrap" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center">
                        <h2>Experience</h2>
                        <mat-divider></mat-divider>
                        <mat-list fxFlex="70%" fxFlex.xs="100%">
                            <mat-list-item>
                                <p>Your Designation :</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Current Comany name :</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>ICurrent Salary :</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Total Years Of Experience :</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p>Notice Period :</p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <div class="d" fxLayout="row wrap" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center">
                        <h2>Skills</h2>
                        <mat-divider></mat-divider>
                        <mat-list fxFlex="70%" fxFlex.xs="100%">
                            <mat-list-item>
                                <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
                                    <p>Skill 1 :</p>
                                    <p>Level :</p>
                                </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
                                    <p>Skill 2 :</p>
                                    <p>Level :</p>
                                </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
                                    <p>Skill 3 :</p>
                                    <p>Level :</p>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
                <mat-card-actions fxLayoutAlign="center">
                    <div class="button" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end">
                        <button mat-raised-button color="primary">Update</button>
                        <button mat-raised-button color="warn">Delete</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>