<footer class="main-container" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="contain-images" fxLayout="row wrap" fxFlex="95%" fxLayoutAlign="space-between center">
        <div class="c1" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center start">
            <div fxLayout="column" fxFlex="75%">
                <h3 fxLayout="column">About Us</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque velit
                    illo ut alias
                    mollitia nobis
                    suscipit? Nisi quod et aspernatur perspiciatis, vel voluptatem? Adipisci molestias exercitationem,
                    illum aperiam perspiciatis blanditiis.</p>
            </div>
        </div>
        <div class="c2" fxFlex="50%" fxFlex.xs="100%" fxLayout="column wrap">
            <div class=" contact-section" fxLayoutAlign="start center">
                <div class="details" fxLayout="row wrap" fxLayoutAlign="center center">
                    <span><mat-icon>email</mat-icon> </span>&nbsp;
                    <p>info@job4u.in</p>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="contact-section" fxLayoutAlign="start center">
                <div class="details" fxLayout="row wrap" fxLayoutAlign="center center">
                    <span><mat-icon>phone</mat-icon></span>&nbsp;&nbsp;
                    <p>| Toll No: +91-XX-XXXXXXXX |</p>
                    <p>| Toll Free No: +91-XX-XXXXXXXX |</p>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="social-links" fxLayoutAlign="start center">
                <div class="details" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
                    <p>Stay Connected </p>
                    <div> <i class="bi bi-facebook"></i></div>
                    <div><i class="fab fa-linkedin-in"></i></div>
                    <div><i class="fab fa-twitter"></i></div>
                    <div><i class="fab fa-instagram"></i></div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="about-company" fxLayoutAlign="start center">
                <div class="details" fxLayout="column wrap" fxLayoutAlign="space-evenly center">
                    <p>| Privacy Policy | Term of Use | Complaints |</p>
                    <p>© 2022 job4u | All rights Reserved</p>
                </div>
            </div>

        </div>
    </div>
</footer>