<footer class="main-container" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="contain-images" fxLayout="row wrap" fxFlex="95%" fxLayoutAlign="space-between center">
        <div class="c1" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center start">
            <div fxLayout="column" fxFlex="75%" fxFlex.xs="85%">
                <h3 fxLayout="column">About Us</h3>
                <p>Welcome to Job4u! We are a team of dedicated professionals committed to helping Recruiters to find
                    their perfect fit for the job. We value privacy and security, and we take great care to protect the
                    personal
                    information of our users. We are also committed to continuously improving our platform, and we
                    regularly update our website with new features and enhancements.</p>
            </div>
        </div>
        <div class="c2" fxFlex="50%" fxFlex.xs="100%">
            <mat-list>
                <div>
                    <mat-list-item fxLayoutAlign="center">
                        <h3>Contact Us</h3>
                    </mat-list-item>
                </div>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div fxLayout="row">
                        <span><mat-icon>email</mat-icon> </span>&nbsp;
                        <p>info@job4u.in</p>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div fxLayout="row">
                        <span><mat-icon>phone</mat-icon> </span>&nbsp;
                        <p>Toll No: +91-XX-XXXXXXX | </p>
                        <p>| Toll Free No: +91-XX-XXXXXXXX</p>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div fxLayout="row">
                        <p>Stay Connected: </p>

                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <p>| Privacy Policy | Term of Use | Complaints |</p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <p>© 2022 job4u | All rights Reserved</p>
                </mat-list-item>
            </mat-list>

        </div>
    </div>
</footer>