<app-home-navbar></app-home-navbar>
<div class="p1" fxLayout="row" fxLayoutAlign="center center">
    <div class="contain-content" fxFlex="100%" fxFlex.xs="100%" fxLayoutAlign="center center">
        <div class="part-prime" fxFlex="99.5%" fxFlex.xs="100%">
            <mat-card fxLayout="row wrap">
                <div class="a" fxLayout="column wrap" fxFlex="100%" fxFlex.xs="100%" fxLayoutAlign="center center">
                    <h1>Find Your Best Fit.</h1>
                    <p>Find.<span> Connect.</span> Recruit</p>
                </div>
                <div class="b" fxLayout="column wrap" fxFlex="100%" fxFlex.xs="90%" fxLayoutAlign="center center">
                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                        <mat-tab label="Manual">
                            <div fxLayout="row" fxFlex.xs="100%" fxlayoutGap="15%" fxLayoutAlign="center center">
                                <div fxLayout="row" fxFlex.xs="100%" class="search-main" fxLayoutAlign="center center">
                                    <table cellspacing="0">
                                        <tr>
                                            <td><mat-form-field appearance="fill" fxFlex.xs="100%">

                                                    <input matInput placeholder="Ex. FrontEnd devloper">
                                                </mat-form-field></td>
                                            <td><mat-form-field appearance="fill" fxFlex.xs="100%">
                                                    <mat-label>Preferred Location</mat-label>
                                                    <mat-select>
                                                        <mat-option *ngFor="let pref_loc of pref_loc"
                                                            [value]="pref_loc.value">
                                                            {{pref_loc.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field></td>
                                            <td><mat-form-field appearance="fill" fxFlex.xs="100%">
                                                    <mat-label>Experience</mat-label>
                                                    <mat-select>
                                                        <mat-option *ngFor="let pref_exp of pref_exp"
                                                            [value]="pref_exp.value">
                                                            {{pref_exp.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field></td>
                                            <td>
                                                <button mat-raised-button>Search</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Voice">
                            <div class="voice search-main" fxLayoutAlign="center center" fxFlex.xs="100%">
                                <table cellspacing="0">
                                    <tr>
                                        <td><mat-form-field class="voice-in" appearance="fill">
                                                <input matInput placeholder="Voice search....">
                                            </mat-form-field></td>
                                        <td>
                                            <button mat-raised-button><mat-icon matSuffix>mic</mat-icon></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<app-footer></app-footer>