<app-topnavbar></app-topnavbar>

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Dileep</mat-card-title>
        <mat-card-subtitle>FrontEnd Devloper</mat-card-subtitle>
        <img mat-card-sm-image src="" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <p>Username : Dileep123</p>
        <p>Dob : 2/2/200</p>
        <p>Gender : Male</p>
        <p>Contactnumber : 245210201 </p>
        <p>Highest-Qualification : B.tech</p>    
        <p>Experience : Fresher</p>
        <p>Location : Banglore</p>
        <p>Expected Ctc : 7 lacs</p>
        <p>Skill Set : Angular, JavaSciprt </p>
        <p>Institute name : VIT</p>
        <p>CGPA : 9.0 </p>
        <p>Passing-year : 2021</p>
        <p>Notice Period : NA</p>
        <p>Currentsalary : NA</p>
        
    
    </mat-card-content>
  </mat-card>
  

  <app-footer></app-footer>
  