.example-card {
    max-width: 400px;
    margin-bottom: 3%;
    margin-top: -16%;
    left: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
    border-radius: 7px 7px 0 0;
    transition: 0.3s;
    text-shadow: 2%;
    
}


    a{
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
    }

@media screen and (max-width:500px){
    .example-card {
        left: 0%;
    }
}
.quotes h2{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 1000;
}
