.example-card {
    
    margin-top: -30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
    border-radius: 7px;
    transition: 0.3s;
    text-shadow: 2%;
    
}
.p1{min-height: 135vh;}
.contain-content{min-height: 90vh;}
.part-prime{height:700px;}
.c{position:absolute; left: 50px;bottom:100px;}


    a{
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
    }

@media screen and (max-width:500px){
    .example-card {
        left: 0%;
    }
}

#photo{
    margin-left: 15%;
    margin-top: 5%;
}