<nav class="main-container" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="contain-images" fxLayout="row " fxFlex="95%" fxLayoutAlign="space-between center">
        <div><button class="logo" routerLink="/main-homepage"><img src="/assets/img/logo.png" height=60px></button></div>
        <div fxLayout="row " fxLayoutAlign="space-around center">
            <button fxHide fxShow.xs mat-button [matMenuTriggerFor]="beforeMenu" height="100px"><img
                    src="/assets/img/avatar.svg" alt="" srcset="" height="60px"></button>
            <mat-menu #beforeMenu="matMenu" height="100px" xPosition="before">
                <button mat-menu-item routerLink="/login">
                    <p>Sign in</p>
                </button>
                <button mat-menu-item routerLink="/signup">
                    <p>Sign up</p>
                </button>
            </mat-menu>
            <div class="r-but" fxLayout="row" fxLayoutGap="10%">
                <div fxShow fxHide.xs><button mat-raised-button routerLink="/login">Sign in</button></div>
                <div fxShow fxHide.xs><button mat-raised-button routerLink="/signup">Sign up</button></div>

            </div>
        </div>
        <!-- <div fxLayoutAlign="center center"><img src="/assets/img/avatar.svg" alt="" srcset="" height="60px"></div> -->
    </div>
</nav>