<nav class="main-container" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="contain-images" fxLayout="row wrap" fxFlex="95%" fxLayoutAlign="space-between center">
        <div><img src="/assets/img/logo.png" height=60px></div>
        <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxFlex="20%">
            <div fxShow fxHide.xs><button mat-raised-button routerLink="/login">Sign in</button></div>
            <div fxShow fxHide.xs><button mat-raised-button routerLink="/signup">Sign up</button></div>

        </div>
        <!-- <div fxLayoutAlign="center center"><img src="/assets/img/avatar.svg" alt="" srcset="" height="60px"></div> -->
    </div>
</nav>