<nav class="main-container" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="contain-images" fxLayout="row" fxFlex="95%" fxLayoutAlign="space-between center">
        <div><button class="logo" routerLink="/homepage"><img src="/assets/img/logo.png" height=60px></button></div>
        <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxFlex="50%">

        </div>
        <div fxLayoutAlign="center center">
            <button mat-button [matMenuTriggerFor]="beforeMenu" height="100px"><img src="/assets/img/avatar.svg" alt=""
                    srcset="" height="60px"></button>
            <mat-menu #beforeMenu="matMenu" height="100px" xPosition="before">
                <button mat-menu-item routerLink="/my-profile">
                    <p>My Profile</p>
                </button>
                <button mat-menu-item routerLink="/main-homepage">
                    <p>Sign Out</p>
                </button>
            </mat-menu>
        </div>
    </div>
</nav>