<app-topnavbar></app-topnavbar>

    <div class="flexbox">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Dileep</mat-card-title>
              <mat-card-subtitle>FrontEnd devloper</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p> 📍 Pref Location: Banglore</p>
              <p> 💵 Expected Ctc :  7-8 lacs</p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/moreinfo">More Info</a>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Dileep</mat-card-title>
              <mat-card-subtitle>FrontEnd devloper</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p> 📍 Pref Location: Banglore</p>
              <p> 💵 Expected Ctc :  7-8 lacs</p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/moreinfo">More Info</a>
              
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Dileep</mat-card-title>
              <mat-card-subtitle>FrontEnd devloper</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p> 📍 Pref Location: Banglore</p>
              <p> 💵 Expected Ctc :  7-8 lacs</p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/moreinfo">More Info</a>
              
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Dileep</mat-card-title>
              <mat-card-subtitle>FrontEnd devloper</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p> 📍 Pref Location: Banglore</p>
              <p> 💵 Expected Ctc :  7-8 lacs</p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/moreinfo">More Info</a>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Dileep</mat-card-title>
              <mat-card-subtitle>FrontEnd devloper</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p> 📍 Pref Location: Banglore</p>
              <p> 💵 Expected Ctc :  7-8 lacs</p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/moreinfo">More Info</a>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Dileep</mat-card-title>
              <mat-card-subtitle>FrontEnd devloper</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p> 📍 Pref Location: Banglore</p>
              <p> 💵 Expected Ctc :  7-8 lacs</p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/moreinfo">More Info</a>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Dileep</mat-card-title>
              <mat-card-subtitle>FrontEnd devloper</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p> 📍 Pref Location: Banglore</p>
              <p> 💵 Expected Ctc :  7-8 lacs</p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/moreinfo">More Info</a>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Dileep</mat-card-title>
              <mat-card-subtitle>FrontEnd devloper</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p> 📍 Pref Location: Banglore</p>
              <p> 💵 Expected Ctc :  7-8 lacs</p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/moreinfo">More Info</a>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Dileep</mat-card-title>
              <mat-card-subtitle>FrontEnd devloper</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p> 📍 Pref Location: Banglore</p>
              <p> 💵 Expected Ctc :  7-8 lacs</p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/moreinfo">More Info</a>
            </mat-card-actions>
          </mat-card>
          
    </div>

  

<app-footer></app-footer>