.example-card {
    width: calc(33.33% - 40px);
    margin: 0px 20px;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
  
  }

 .flexbox{
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

 }

 @media screen and (max-width: 900px){
   .example-card{
      width: calc(50% - 40px);
   }
}

@media screen and (max-width: 425px){
   .example-card{
      width: calc(100% - 40px);
   }
}

.table{
   align-items: center;
   margin-top: 10px;
}
.p1{
   margin-top: 20px;
}
