<div class="main-container" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="contain-images" fxLayout="column wrap" fxFlex="40%" fxShow fxHide.xs>
        <div class="logo-view" fxFlex="50%">
            <button class="logo" routerLink="/main-homepage"><img src=" /assets/img/logo.png" alt="" srcset=""
                    height="150px" fxFlex.sm="90%"></button>
        </div>
        <div class="illustrate-view" fxFlex="50%">
            <div class="container-x" fxLayout="row" fxLayoutAlign="end end">
                <img src=" /assets/img/personal_info.svg" alt="" srcset="" height="200px" fxFlex.sm="90%">
            </div>
        </div>
    </div>
    <div class="contain-content" fxFlex="60%" fxFlex.xs="100%"  fxLayoutAlign="center center">
        <div class="part-prime" fxFlex="50%" fxFlex.xs="85%">
            <form class="form-container" [formGroup]="profileForm">
                <mat-card>
                    <mat-card-header fxLayoutAlign="center">
                        <mat-card-title>
                            <h2>Sign in to your Account</h2>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <mat-form-field appearance="fill" class="full-width">

                                <mat-label>Email</mat-label>
                                <input formControlName="email" matInput>
                                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                                <mat-icon matSuffix>email</mat-icon>

                            </mat-form-field>
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>Enter password</mat-label>
                                <input formControlName="password" type="password" matInput
                                    [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <!-- <mat-checkbox class="example-margin">
                                <p> By Accepting,you agree to <br> <b>Terms of
                                        Service</b> and <b>Privacy Policy</b></p>
                            </mat-checkbox> -->
                            <mat-checkbox id="checkbox" class="checkbox" color="primary" formControlName="checkbox">
                                <p> By Accepting,you agree to <br> <b>Terms of
                                        Service</b> and <b>Privacy Policy</b></p>
                            </mat-checkbox>
                            <mat-card-actions fxLayoutAlign="center">
                                <button type="submit" (click)="onSubmit()" mat-raised-button color="primary">Sign
                                    in</button>
                            </mat-card-actions>
                            <div>
                                <p> Create New Account! <a routerLink="/signup">Sign up</a></p>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </form>
        </div>
    </div>
</div>